tr,
td,
table {
  
  
  
  border: 3px solid black;
  border-collapse: collapse;  
}
td {
  
  
  
  padding: 10px;
}

table {
  
  
  
  margin: 0px;
}




table tbody tr:first-child {
  font-weight: bold;
}



.zebraStripe {
  background-color: black;
  color: white;
}
